.logo {
    display:inline-block;
    color:#333;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 200%;
    padding: 0;
    line-height: 100px;
    border-radius: 50%;
    border-color:#333;
    border: solid #333;
}

#appProgress {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width:0%;
}

#results {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

.icon {
    display:inline-block;
    color:#333;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 200%;
    padding: 0;
    line-height: 100px;
    border-radius: 50%;
    border-color:#333;
    border: solid #333;
}

#results .jumbotron .icon {
    float:left;
}

#results .jumbotron p {
    margin-left:150px;
    margin-top:25px;
}

.actions {
    display:block;
    text-align: right;
}

.actions a {
    margin-right:25px;
}
